
// Main of Info Page
.main-info {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;

    &-container {
        display: flex;
        gap: 2rem;
        background: #fff;
        border-radius: 1rem;
        padding: 2rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    &-cover {
        flex-shrink: 0;
        width: 215px;

        img {
            width: 100%;
            height: auto;
            border-radius: 0.5rem;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
        }
    }

    &-content {
        flex: 1;
        display: flex;
        gap: 2rem;
    }
}
