.main-info {
  flex: 1;
  padding: 20px 0;
  margin-top: 0px; /* TopNav + Banner + BottomNav height */
}

.main-info__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 2rem;
}

@media (max-width: 768px) {
  .main-info__container {
    grid-template-columns: 1fr;
  }
}